@charset "UTF-8";

#youso{
  float:left;
}

.btn{
  clear:left;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 5;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: black;
  font-size: 16px;
}

.btn:hover{
  opacity: 0.7;
}

.btn:active{
  color: white;
}
